<ul nz-menu nzMode="horizontal">
  <li nz-menu-item routerLink="/" nzMatchRouter nzMatchRouterExact>
    Home
  </li>
  <li nz-menu-item routerLink="/form" nzMatchRouter nzMatchRouterExact>
    Form
  </li>

</ul>
<router-outlet></router-outlet>
