<form nz-form [formGroup]="form" (ngSubmit)="onsubmit()">

  <nz-form-item>
    <nz-form-label nzFor="firstName" nzRequired>First Name</nz-form-label>
    <nz-form-control nzErrorTip="Please input your first name">
      <nz-input-group>
        <input type="text" nz-input formControlName="firstName" placeholder="First Name" id="firstName" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <button nz-button [nzType]="'primary'" class="login-form-button" [disabled]="form.invalid">Submit</button>

  <pre>
    {{form.value | json}}
  </pre>
</form>
